.container-previous-next{
    box-sizing: border-box;
    border-top: 2px solid rgba(128, 128, 128, 0.766);
    border-bottom: 2px solid rgba(128, 128, 128, 0.609);
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 90%;
    z-index: 1000;
    align-items: center;
}
.container-previous-next .btn-previous, .container-previous-next .btn-next{
    background: #2b3637e6;
    width: 100px;
    height: 30px;
    color:white;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
}
.container-previous-next .btn-previous:hover, .container-previous-next .btn-next:hover{
    box-shadow: 2px 2px 4px #545353;
    cursor: pointer;
}
.container-previous-next .btn-previous > p, .container-previous-next .btn-next >p{
    margin: 0;
}
.disabled {
    cursor: not-allowed; 
    opacity: 0.3; 
    pointer-events: none;
}
@media screen and (min-width: 768px) {
    .container-previous-next{  
        width: 99%;
        padding: 20px;
    }
}
@media screen and (min-width: 1024px) {
  
}