.section-categories{
    padding: 10px;
    font-family: sans-serif;
    color: rgb(84, 83, 83);
    
}
.chart{
    border: 2px solid #a09c9c9b; /* Define un borde sólido de 2 píxeles de ancho y color negro */
    padding: 20px; /* Ajusta el espacio dentro del cuadro */
}
.chart p{
    font-size: 16px;
    box-sizing: border-box;
    overflow: auto;
}
.chart ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.container-category{
    width: 100%;
}
.container-category-btn{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background: #d4d7de57;
    padding-left: 5px;
}
.container-category-btn button img{
    width: 25px;
}
.container-category button{
    border-color: transparent;
    background: transparent;
}
.container-category button:hover{
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .section-categories{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .chart{
        width: 70%;
        height: 80%;
    }
   
}