.section-hours{
    padding: 10px; 
}
.chart{
    border: 2px solid #a09c9c9b; 
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
}

.container-text-hours{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap:16px;
}
.container-text-hours > p, .container-text-hours > ul{
    margin: 0;
    color: rgb(84, 83, 83);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; 
    padding: 0;
}
ul{
    padding: 0;
}
.container-hours ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items:center;
}
.container-hours ul button {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border-color: transparent;
    background-color: #dcdde4;
    color: #545353;
}
.btn-hour:hover{
    box-shadow: 2px 2px 4px #545353;
    cursor: pointer;
}
@media screen and (min-width: 1024px) {
    .section-hours{
        display: flex;
        place-content: center;
    }
}