.container-btns{
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:16px;
    padding-bottom: 10px;
    background: white;
}
.btn{
    height: 60px;
    border-color: transparent;
    background: transparent;
}
.btn:hover{
    border-bottom: 2px solid #483B9F;
    cursor: pointer;
}
.btn > p{
    margin: 0;
}
.btn >img{
    width: 30px;
    height: 30px;
}